<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="">
        <nav class="menu">
            <ul>
                <li>SMARTPHONES</li>
                <li>TABLETS</li>
                <li>COMPUTADORAS</li>
            </ul>
        </nav>
        <nav class="login">
            <ul>
                <li>LOGIN</li>
                <li>REGISTRO</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="products-box">
            <div>
                <img src="img/img-phone-01.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, minima.</p>
                <a class="" href="">ver mas</a>
            </div>
            <div>
                <img src="img/img-phone-02.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, minima.</p>
                <a class="" href="">ver mas</a>
            </div>
            <div>
                <img src="img/img-phone-03.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, minima.</p>
                <a class="" href="">ver mas</a>
            </div>
            <div>
                <img src="img/img-phone-01.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, minima.</p>
                <a class="" href="">ver mas</a>
            </div>
            <div>
                <img src="img/img-phone-02.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, minima.</p>
                <a class="" href="">ver mas</a>
            </div>
            <div>
                <img src="img/img-phone-03.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, minima.</p>
                <a class="" href="">ver mas</a>
            </div>
        </div>
    </main>
    <aside>
        <div class="aside-box">
            <h3 class="h3-tutoriales">Tutoriales</h3>
            
                <div class="tutoriales">
                    <img src="/img/aside-01.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tutoriales">
                    <img src="/img/aside-02.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tutoriales">
                    <img src="/img/aside-03.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tutoriales">
                    <img src="/img/aside-04.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            
            <h3 class="h3-publicidad">Publicidad</h3>
            <div class="publicidad">
                <img src="/img/ap-01.jpg" alt="">
                <img src="/img/ap-02.jpg" alt="">
            </div>
        </div>
    </aside>
    <footer>
        <h5>@Copyrights reserved by Luciano</h5>
    </footer>
</body>
</html>